@{
	ViewData["Title"] = "Privacy Policy";
}
<<div class="container py-5">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold"><i class="bi bi-info-circle"></i> Sobre a Plataforma</h1>
		<p class="lead text-muted"></p>

		<div class="card mb-5 mx-auto" style="max-width: 350px;">
			<img src="~/img/fotona.png" style="border: 6px solid cyan; border-radius: 10px;" />
			<div class="card-body">
				<h5 class="card-title">Interclasse</h5>
				<p class="card-text">É uma competição interna entre as classes da escola, que promove integração, espírito de equipe, prática esportiva e diversão entre os alunos. </p>
				<a asp-controller="Home" asp-action="Index" class="btn btn-info btn-lg btn-sm btn-">Voltar a tela incial</a>
				<a href="https://github.com/Pabl0Hernandez" class="btn btn-info btn-lg btn-sm btn-">GitHub</a>
			</div>
		</div>
