@{
	ViewData["Title"] = "Privacy Policy";
}
<div class="container py-5">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold"><i class="bi bi-info-circle"></i> Sobre a Plataforma</h1>
		<p class="lead text-muted"></p>

		<div class="card mb-5 mx-auto" style="max-width: 555px;">
			<img src="~/img/senai.png" style="border: 6px solid white; border-radius: 2px;" />
			<div class="card-body">
				<h5 class="card-title fw-bold text-black">Interclasse</h5>
				<p class="card-text fw-bold text-black">
					É uma competição interna entre as classes da escola, que promove integração, espírito de equipe,
					prática esportiva e diversão entre os alunos.
				</p>
				<a asp-controller="Home" asp-action="Index" class="btn btn-dark btn-lg me-4">VOLTAR À PÁGINA INICIAL</a>
				<a href="https://github.com/Pabl0Hernandez" class="btn btn-dark btn-lg">GITHUB</a>

			</div>
		</div>
	</div>
</div>

<style>
	body {
		background-color: #FFFFFf;
		color: black;
	}
</style>
